<table class="table">
    <thead>
        <tr>
            <th scope="col">Distance</th>
            <th scope="col">Elevation</th>
            <th scope="col">ID</th>
            <th scope="col">Day-1</th>
            <th scope="col">Day</th>
            <th scope="col">Day+1</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row['country_code'] }}-{{ row['station_code'] }}</td>
            <td>{{ row['observation_type'] }}</td>
            <td>{{ row['station_code'] }}</td>
            <td>{{ row['day_12'] }}</td>
            <td>{{ row['flag_12'] }}</td>
            <td>{{ row.get('day_13', 'N/A') }}</td>  <!-- For day+1, change if needed -->
        </tr>
        {% endfor %}
    </tbody>
  </table>