{% extends "base.html" %}
{% block title %}Daily Correction{% endblock %}
{% block content %}
<!--Daily Form-->

<div class="container-md justify-content-center" id="form-daily">
    <div class="container-md">
        <div class="row g-3">
            <div class="col g-3">
                <h1>Enter a Daily Correction</h1>
                <p>This is a brief description of Daily Corrections.</p>
            </div>
        </div>
    </div>
    <div class="container-md form-container">
    <form class="row g-3 align-items-center ">
        <div class="row g-3 align-items-center">
            <div class="col input-group">
                <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight: bold" >GHCN ID</span>
                {{daily_form.ghcn_id(class_='form-control')}}
            </div>
        </div>
        <div class="row g-3">
            <div class="col input-group justify-content-start" id="date-div">
                <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight: bold">Date</span>
                {{daily_form.date(class_='form-control date-picker')}}
            </div>
        </div>
        <div class="row g-3" >
            <div class="col input-group" style="width:13%; flex-wrap: nowrap;">
                <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight: bold">Datzilla #</span>
                {{daily_form.datzilla_number(class_='form-control')}}
            </div>
        </div>
        <div class="row g-3" >
            <div class="col-md input-group justify-content-start" style="flex-wrap: nowrap;">
                <span class="input-group-text element-select" id="inputGroup-sizing-default" style="font-weight: bold">Element</span>
                {{daily_form.element(class_='form-select element-select')}}
            </div>
            <div class="col-md input-group justify-content-start" style="flex-wrap: nowrap;">
                <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight: bold">Action</span>
                {{daily_form.action(class_='form-select action-select')}}
            </div>
        </div>
        <div class="row g-3">

            <div class="col-md input-group" style=" flex-wrap: nowrap;">
                <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight: bold">O-Value</span>
                {{daily_form.o_value(class_='form-control')}}
            </div>
            <div class="col-md input-group" style=" flex-wrap: nowrap;">
                <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight: bold">E-Value</span>
                {{daily_form.e_value(class_='form-control')}}
            </div>
        </div>
        
        <div class="row g-3" >
            <div class="col-sm">
                <button type="submit" class="btn button-light" style="width:100%;display:block;font-weight: bold;">Compare</button>
            </div>
            
            <div class="col-sm">
                <!-- <button type="submit" class="btn btn-success" onclick="showComparisonTable()" style="width:100%;display:block;">Submit</button> -->
                <button type="button" class="btn btn-success" style="width:100%;display:block;">Submit</button>

            </div>

        </div>
        <div class="row g-3" >
            <div class="col-sm">
                <button type="reset" class="btn button-dull" style="width:100%;display:block;font-weight: bold">Clear</button>
            </div>
        </div>
    </form>
</div>


    <div id="correction-comparison-table" style="display:none;">
        {% include "corrections/data_tables/correction_comparison_table.html" %}
    </div>

</div>

<script>
        $(document).ready(function () {
            $("form").submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                console.log('formData', formData);
                const params = new URLSearchParams(formData);
                console.log("Params: ", params);
                getDataforStationsAndShowTable(params);
                
            })

        });


     //DAILY Comparison table
     function showDailyComparisonTable(filteredData) {
        
        const tableBody = document.querySelector('#correction-comparison-table tbody');
        
        // Clear existing rows in the table
        tableBody.innerHTML = '';
                
        
        // Check if the returnData array is not empty
    if (filteredData && filteredData.returnData && filteredData.returnData.length > 0) {
        console.log("Data:", filteredData);

        filteredData.returnData.forEach(item => {
                    const newRow = `
                        <tr>
                            <td>${item.distance} km</td>
                            <td>${item.elevation} ft</td>
                            <td>${item.station_code}</td>
                            <td>${item.dayMinus}</td>
                            <td>${item.day}</td>
                            <td>${item.dayPlus}</td>
                        </tr>
                    `;
                    tableBody.insertAdjacentHTML('beforeend', newRow);
                });
            }

    // Show the table
    document.getElementById('correction-comparison-table').style.display = "block";
}


    function getDataforStationsAndShowTable(urlParams) {

        // Extract the query parameters
        const ghcnId = urlParams.get('ghcn_id');
        const datzillaNumber = urlParams.get('datzilla_number');
        const element = urlParams.get('element');
        const action = urlParams.get('action');
        const oValue = urlParams.get('o_Value');
        const eValue = urlParams.get('e_Value');
        const date = urlParams.get('date');

        //set up requestData for /get_data_for_daily_corrections route.
        var requestData = {
            ghcn_id: ghcnId,
            datzillaNumber: datzillaNumber,
            element: element,
            action: action,
            oValue: oValue,
            eValue: eValue,
            date: date,
            correction_type: "compare"
        };

        //console.log("!DATA: ", requestData);

        // Send the data via AJAX
        $.ajax({
            url: '/get_data_for_daily_corrections', 
            method: 'POST',
            data: $.param(requestData),
            success: function(response) {
                //console.log("Success:", response);
                
                // Handle processing
                showDailyComparisonTable(response);
            },
            error: function(xhr, status, error) {
                console.error("Error:", error);
                alert("There was an error processing your request.");
            }
        });
        }
    

        

    //DAILY Comparison table
    function showDailyComparisonTable(filteredData) {
        
        const tableBody = document.querySelector('#correction-comparison-table tbody');
        
        // Clear existing rows in the table
        tableBody.innerHTML = '';
                
        
        // Check if the returnData array is not empty
    if (filteredData && filteredData.returnData && filteredData.returnData.length > 0) {
        console.log("Data:", filteredData);

        filteredData.returnData.forEach(item => {
                    const newRow = `
                        <tr>
                            <td>${item.distance} km</td>
                            <td>${item.elevation} ft</td>
                            <td>${item.station_code}</td>
                            <td>${item.dayMinus}</td>
                            <td>${item.day}</td>
                            <td>${item.dayPlus}</td>
                        </tr>
                    `;
                    tableBody.insertAdjacentHTML('beforeend', newRow);
                });
            }

    // Show the table
    document.getElementById('correction-comparison-table').style.display = "block";
}


    //DAILY TABLE
    function showComparisonTable(filteredData) {
        const tableBody = document.querySelector('#correction-comparison-table tbody');
        
        // Clear existing rows in the table
        tableBody.innerHTML = '';
                
        
        //Add to table data.
        if (filteredData) {
            console.log("Data:", filteredData);
    
            const newRow = `
                <tr>
                    <td>Dist</td>
                    <td>Elev</td>
                    <td>${filteredData.station_code}</td>
                    <td>${filteredData.dayMinus}</td>
                    <td>${filteredData.day}</td>
                    <td>${filteredData.dayPlus}</td>
                </tr>
            `;
            tableBody.insertAdjacentHTML('beforeend', newRow);
        }

        // Show the table
        document.getElementById('correction-comparison-table').style.display = "block";
    }
</script>

{% endblock content %}