{% extends "base.html" %}
{% block title %}Monthly Correction{% endblock %}
{% block content %}

<!--Monthly Form-->
<div class="container-md justify-content-center " id="form-monthly">
    <!-- <div class="container-md justify-content-center form-container" id="form-monthly" style="display:none"> -->
        <div class="container-md">
            <div class="row g-3">
                <div class="col g-3">
                    <h1>Enter a Monthly Correction</h1>
                    <p>This is a brief description of Monthly Corrections.</p>
                </div>
            </div>
        </div>     
    
        <div class="container-md form-container">
        <form class="row g-3 align-items-center">
                <div class="row g-3">
                    <div class="col input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default" >GHCN ID</span>
                        {{monthly_form.ghcn_id(class_='form-control') }}
                    </div>
                    <div class="row g-3">
                        <div class="col input-group" id="date-div" style="justify-content: start;">
                            <span class="input-group-text" id="inputGroup-sizing-default" >Date</span>
                            {{monthly_form.date(class_='form-control date-picker')}}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center g-3" id="button-row">
                    <div class="col-sm">
                        <button type="reset" class="btn button-dull" style="width:100%;display:block;font-weight: bold;">Clear</button>
                    </div>
                    <div class="col-sm">
                        <!-- <button type="submit" class="btn btn-success" onclick="showMonthTable()" style="width:100%;display:block;font-weight: bold;">Next</button> -->
                        <button type="button" class="btn btn-success" id="monthly-next-btn" style="width:100%;display:block;font-weight: bold;">Next</button>

                    </div>
                    
                </div>
        
        </div>  
        
        <!--Monthly Table -->
        <div id="monthly-form-table" >
            {% include "corrections/data_tables/input_monthly_form.html" %}
            
        </div>
    </form>
    </div>

    <div id="submission-element" style="display: none;">
        {% include "corrections/correction_submitted_element.html" %}
    </div>

    <script>
        $(document).ready(function () {

            // First Window Next Button
            $("#monthly-next-btn").click(function() {
                if (!$("#ghcn_id").val() || !$("#date").val()){
                    // Error message: need both values.
                    alert("Both values need to be filled out.");
                } else {
                    showMonthTable($("form"));
                }
            });

            $("form").submit(function (event) {
                event.preventDefault();
                console.log($(this));
                // console.log($(this).serialize());

                //Monthly_Input holds the data inputted for the 31 days
                let monthly_input = [];

                // Loops through all 31 input fields within the table with the ID 'data-month-input'
                $('#data-month-input tbody input[type="text"]').each(function() {
                    // Get the value of the current input field
                    const inputValue = $(this).val();
                    
                    // Push the value into the array
                    monthly_input.push(inputValue);
                    
                });
                console.log(monthly_input);
                // NOTE that the Element field needs to be replaced with its sub element if the selection is WT** WV** SN*# or SX*#
                // See formatWeatherDataQuery() and checkFields() in daily_correction_form.html
                var formData = formatWeatherDataQuery($(this));
                
                // Remove one of the date fields from formData.
                formData = formData.split("&");
                element_index = formData.findIndex((element => element.indexOf("date=") != -1));
                if (element_index == -1) {
                    //For some reason there's not a date field. 
                } else {
                    formData.splice(element_index,1);
                }
                formData = formData.join("&");
                
                // Code to Process the monthly data.
                console.log(formData);

                // Submit Correction Data
                submitCorrections(formData, monthly_input)
                // correctionFormHandler(formData, function (output) {
                //     showMonthTable();
                // })
                // Upon Success
                
            });

             // Showing sub elements for element selection
            $("#element").on("change", function() {
                switch ($("#element").val().toString()) {
                    case "SN*#":
                    $("#sub-element-select").removeClass("d-none");
                    $(".sub-element-option").addClass("d-none");
                    $("#sub_element_SN").parent().removeClass("d-none");
                    break;
                    case "SX*#":
                    $("#sub-element-select").removeClass("d-none");
                    $(".sub-element-option").addClass("d-none");
                    $("#sub_element_SX").parent().removeClass("d-none");
                    break;
                    case "WT**":
                    $("#sub-element-select").removeClass("d-none");
                    $(".sub-element-option").addClass("d-none");
                    $("#sub_element_WT").parent().removeClass("d-none");
                    break;
                    case "WV**":
                    $("#sub-element-select").removeClass("d-none");
                    $(".sub-element-option").addClass("d-none");
                    $("#sub_element_WV").parent().removeClass("d-none");
                    break;
                    

                    default:
                        // console.log("Selected " + $("#element").val().toString() );
                        // sub-element-select
                        $("#sub-element-select").addClass("d-none");
                }
            });

            

        });

        function showMonthTable(form_object) {
            console.log(form_object.get(0).elements);
            console.log(form_object.get(0).elements.date[0].value);
            const inputMonthlyTable = document.getElementById('input-monthly-table');
            $("#ghcn-id-span").text($("#ghcn_id").val());
            $("#month-ghcn-date-mirror").val($("#date").val());

           inputMonthlyTable.style.display = "block";
        }
         
        //  Date fields mirror each other.
         $("#month-ghcn-date-mirror").on("change", function() {
            $("#date").val($("#month-ghcn-date-mirror").val());
         });
         $("#date").on("change", function() {
            $("#month-ghcn-date-mirror").val($("#date").val());
         });

        function submitCorrections(formData, monthlyInputData) {
            // Send the correctionData directly in the request
            $.ajax({
                url: '/submit_monthly_corrections',
                method: 'POST',
                contentType: 'application/json',  // Ensure the server handles the data as JSON
                data: JSON.stringify({ form_input: formData, monthly_input: monthlyInputData }),  // Send data as JSON
                success: function(response) {
                    // Handle processing
                    alert("Monthly Correction Submitted Successfully");
                    showSubmissionConfirmation("monthly");
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                    alert("There was an error processing your request.");
                    showSubmissionConfirmation("monthly"); //Should be changed to allow the user to retry their correction
                }
            });
        }
    </script>

    {% endblock content %}