
<div class="container p-4" style="margin-top: 20px;">
    <!-- User Selection Menu -->
    <div class="row align-items-center light" id="filter-row">
        <div class="col-sm-3">
            Change Yr:
            <select class="form-select" id="year-selector">
                <option selected>{{date}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            Display: 
            <select class="form-select" id="display-selector">
                <option selected value="0">--Select--</option>
                <option value="1" selected>Core Elements</option>
                <option value="2">Temp Elements</option>
                <option value="3">Precip Elements</option>
                <option value="4">Evap/Pan Temp/Wind</option>
                <option value="5">Sunshine</option>
                <option value="6">Soils</option>
                <option value="7">Multi Day</option>
                <option value="8">ASOS Winds</option>
            </select>
        </div>
        <div class="col-sm-3">
            Units:
            <select class="form-select" id="unit-selector">
                <option value="imperial">--Select--</option>
                <option value="imperial" selected>U.S. (Imperial)</option>
                <option value="metric">Metric</option>
                <option value="raw">Raw</option>
            </select>
        </div>
        <div class="col-sm-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Split Month
                </label>
            </div>
        </div>
        <!--<div class="col">     
            <button type="button" class="btn btn-info">Show MS Data</button>
        </div>
        <div class="col">
            
            <button type="button" class="btn btn-info">Save Data</button>
        </div>-->
        
    </div>
    <div class="row ">
        
       
    </div>

    <!-- Main Data Table -->
    <div class="row " style="text-align: center">
        <div class="col">
            <div class="table-responsive-lg">
                <table class="table table-sm table-striped table-borderless border" id="GHCND_Table">
                    <thead>
                        <tr>
                            <th class="ghcn-table-cell" scope="col">Day</th>
                            <th class="ghcn-table-cell" scope="col">TMAX</th>
                            <th class="ghcn-table-cell" scope="col">TMIN</th>
                            <th class="ghcn-table-cell" scope="col">TOBS</th>
                            <th class="ghcn-table-cell" scope="col">PRCP</th>
                            <th class="ghcn-table-cell" scope="col">SNOW</th>
                            <th class="ghcn-table-cell" scope="col">SNWD</th>
                            <th scope="col">WTXX</th>
                        </tr>
                    </thead>
                    <tbody>
            
                        {% for p in range(31) %}
                            <tr>
                                <td class="ghcn-table-cell">{{loop.index}}</td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" id="button-row">
            <div class="col-sm-4">
                <button type="button" id="save-button" class="btn btn-success w-100 d-block">Save Data</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary w-100 d-block">Show MS Data</button>
            </div>
            <!-- <div class="col-sm-4">
                <button type="reset" class="btn btn-dark w-100 d-block">Clear</button>
            </div> -->
        </div>
        <br>
    <!-- Secondary Data table -->
    <div class="container text-center">
        <div class="row border ghcnd-calc-table">
            <!-- Temperature Row -->
            <div class="row p-2">
                <div class="col">
                    AvMax:<br><span class="ghcnd-calc-av-max"></span>
                </div>
                <div class="col">
                    AvMin:<br><span class="ghcnd-calc-av-min"></span>
                </div>
                <div class="col">
                    AvTmp:<br><span class="ghcnd-calc-av-temp"></span>
                </div>
                <div class="w-100 d-block d-md-none"></div>
                <div class="col">
                    MaxTp:<br><span class="ghcnd-calc-max-temp"></span>
                </div>
                <div class="col">
                    Day:<br><span class="ghcnd-calc-max-temp-date"></span>
                </div>
                <div class="col">
                    MinTp:<br><span class="ghcnd-calc-min-temp"></span>
                </div>
                <div class="col">
                    Day:<br><span class="ghcnd-calc-min-temp-date"></span>
                </div>
                <div class="w-100 d-block d-md-none"></div>
                <div class="col">
                    HDD<br><span class="ghcnd-calc-hdd"></span>
                </div>
                <div class="col">
                    CDD<br><span class="ghcnd-calc-cdd"></span>
                </div>
                <div class="w-100 d-block"></div>
                <div class="col pt-2">
                    Number of Days TMP:
                    <br>MaxT>=90: <span class="ghcnd-calc-max-temp-gt90"></span>
                    <br>MaxT<=32: <span class="ghcnd-calc-max-temp-lt32"></span>
                    <br>MinT<=0: <span class="ghcnd-calc-min-temp-lt0"></span>
                </div>
                <!-- <div class="col">
                    MaxT>=90:<br><span class="ghcnd-calc-max-temp-gt90"> </span>
                </div>
                <div class="col">
                    MaxT<=32:<br><span class="ghcnd-calc-max-temp-lt32"> </span>
                </div>
                <div class="col">
                    MinT<=0:<br><span class="ghcnd-calc-min-temp-lt0"> </span>
                </div> -->
    
            </div>
            <div class="container px-3">
                <hr class="">
            </div>
            <!-- Precipitation Row -->
            <div class="row p-1">
                <div class="col">
                    TotPcn<br><span class="ghcnd-calc-totpcn"></span>
                </div>
                <div class="col">
                    Max24Hr:<br><span class="ghcnd-calc-max-24hr"></span>
                </div>
                <div class="col">
                    Day:<br><span class="ghcnd-calc-max-24hr-date"></span>
                </div>
                <div class="w-100 d-block d-md-none"></div>
                <div class="col">
                    Snow<br><span class="ghcnd-calc-snow"></span>
                </div>
                <div class="col">
                    S Depth<br><span class="ghcnd-calc-snow-depth"></span>
                </div>
                <div class="col">
                    SF>=1:<br><span class="ghcnd-calc-sf-gt100"></span>
                </div>
                <div class="col">
                    SD>=1:<br><span class="ghcnd-calc-snow-depth-gt100"></span>
                </div>
                <div class="w-100 d-block"></div>
                <div class="col pt-2">
                    Number Days With PCN:
                    <br>>.01: <span class="ghcnd-calc-pcn-gt01"> </span>
                    <br>>.10: <span class="ghcnd-calc-pcn-gt10"> </span>
                    <br>>1: <span class="ghcnd-calc-pcn-gt100"> </span>
                </div>
                <!-- <div class="col">
                    >.01:<br><span class="ghcnd-calc-pcn-gt01"> </span>
                </div>
                <div class="col">
                    >.10:<br><span class="ghcnd-calc-pcn-gt10"> </span>
                </div>
                <div class="col">
                    >1:<br><span class="ghcnd-calc-pcn-gt100"> </span>
                </div> -->
    
            </div>
        </div>
    </div>
</div>

<script>
    // $(document).ready(function(){
    //     $('#GHCND_Table').dataTable();
    // });
</script>
