
<div class="container p-4" style="margin-top: 20px;">

    <!-- Main Data Table -->
    <div class="row " style="text-align: center">
        <div class="col">
            <div class="table-responsive-sm">
                <table class="table table-sm table-striped table-borderless border" id="GHCND_Table">
                    <thead>
                        <tr>
                            <th class="ghcn-table-cell" scope="col">Day</th>
                            <th class="ghcn-table-cell" scope="col">TMAX</th>
                            <th class="ghcn-table-cell" scope="col">TMIN</th>
                            <th class="ghcn-table-cell" scope="col">TOBS</th>
                            <th class="ghcn-table-cell" scope="col">PRCP</th>
                            <th class="ghcn-table-cell" scope="col">SNOW</th>
                            <th class="ghcn-table-cell" scope="col">SNWD</th>
                            <th scope="col">WTXX</th>
                        </tr>
                    </thead>
                    <tbody>
            
                        {% for p in range(31) %}
                            <tr>
                                <td class="ghcn-table-cell">{{loop.index}}</td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td class="ghcn-table-cell"></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Secondary Data table -->
    <div class="row border">

        <div class=" col-md-4">
            <div class="row">
                <div class="col">
                    AvMax: <span class="ghcnd-calc-av-max"></span>
                </div>
                <div class="col">
                    AvMin: <span class="ghcnd-calc-av-min"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    AvTmp: <span class="ghcnd-calc-av-temp"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    MaxTp: <span class="ghcnd-calc-max-temp"></span>
                </div>
                <div class="col">
                    Day: <span class="ghcnd-calc-max-temp-date"></span>
                </div>  
            </div>
            <div class="row">
                <div class="col">
                    MinTp: <span class="ghcnd-calc-min-temp"></span>
                </div>
                <div class="col">
                    Day: <span class="ghcnd-calc-min-temp-date"></span>
                </div> 
            </div>
        </div>


        <div class="col-md">
            <div class="row">
                <div class="col-6 col-md">
                    TotPcn <span class="ghcnd-calc-totpcn">[#]</span>
                </div>
                <div class="col-6 col-md">
                    Snow <span class="ghcnd-calc-snow">[#]</span>
                </div>
                <div class="col-sm col-md">
                    S Depth <span class="ghcnd-calc-snow-depth">[#]</span>
                </div>
                <div class="col-sm col-md">
                    HDD <span class="ghcnd-calc-hdd">[#]</span>
                </div>
                <div class="col-sm col-md">
                    CDD <span class="ghcnd-calc-cdd">[#]</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                   Max24Hr:  <span class="ghcnd-calc-max-24hr">[#]</span>
                </div>
                <div class="col-sm-3">
                    Day: <span class="ghcnd-calc-max-24hr-date">[#]</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    Number Days With:
                </div>
                <div class="col-md">
                    Pcn >.01: <span class="ghcnd-calc-pcn-gt01">[#]</span>
                </div>
                <div class="col-md">
                    >.10: <span class="ghcnd-calc-pcn-gt10">[#]</span>
                </div>
                <div class="col-md">
                   >1:  <span class="ghcnd-calc-pcn-gt100">[#]</span>
                </div>
                <div class="col-md">
                    SF>1=: <span class="ghcnd-calc-sf-gt100">[#]</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    MaxT>=90: <span class="ghcnd-calc-max-temp-gt90">[#]</span>
                </div>
                <div class="col-md">
                    MaxT<=32: <span class="ghcnd-calc-max-temp-lt32">[#]</span>
                </div>
                <div class="col-md">
                    MinT<=0: <span class="ghcnd-calc-min-temp-lt0">[#]</span>
                </div>
                <div class="col-md">
                    SD>=: <span class="ghcnd-calc-snow-depth-gt100">[#]</span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- User Selection Menu -->
    <div class="row">
        <div class="col">
            Change Yr:
            <select class="form-select" >
                <option selected>--Select--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col">
            Display: 
            <select class="form-select">
                <option selected>--Select--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        
        <!--<div class="col">     
            <button type="button" class="btn btn-info">Show MS Data</button>
        </div>
        <div class="col">
            
            <button type="button" class="btn btn-info">Save Data</button>
        </div>-->
        
    </div>
    <div class="row ">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Split Month? 
                </label>
            </div>
        </div>
        <div class="col">
            Units:
            <select class="form-select">
                <option selected>--Select--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="row justify-content-center" id="button-row">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success">Save Data</button>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Show MS Data</button>
            </div>
            <div class="col-sm-3">
                <button type="reset" class="btn btn-dark">Close</button>
            </div>
        </div>
        <div class="col">
        </div>
        <!--<div class="col">
            <button type="button" class="btn btn-info">Close</button>
        </div>-->
        
    </div>

</div>

<script>
    $(document).ready(function(){
        $('#GHCND_Table').dataTable();
    });
</script>
