<!-- {% extends "base.html" %} -->

{% block content %}

<div class="container-md justify-content-center" id="ghcn-metadata-div">
    <div class="row">
        <h5>Station Metadata</h5>
    </div>
    <div class="row">
        <div class="col-sm">
            <label><b>GHCN ID: </b></label><br>
            <p>{{ station_data['GHCN ID'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>WMO ID: </b></label><br>
            <span>{{ station_data['WMO ID'] if station_data else 'N/A' }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label><b>State: </b></label><br>
            <p>{{ station_data['State'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>Country: </b></label><br>
            <p>{{ station_data['Country'] if station_data else 'N/A' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label><b>Longitude: </b></label><br>
            <p>{{ station_data['Longitude'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>Latitude: </b></label><br>
            <p>{{ station_data['Latitude'] if station_data else 'N/A' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label><b>GSN Flag: </b></label><br>
            <span>{{ station_data['GSN Flag'] if station_data else 'N/A' }}</span>
        </div>
        <div class="col-sm">
            <label><b>HCN Flag: </b></label><br>
            <span>{{ station_data['HCN Flag'] if station_data else 'N/A' }}</span>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <label><b>Station: </b></label><br>
            <p>{{ station_data['Station'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>WBAN ID: </b></label><br>
            <p>{{ station_data['WBAN ID'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>FAA ID: </b></label><br>
            <p>{{ station_data['FAA ID'] if station_data else 'N/A' }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <label><b>Division (Num-Name): </b></label><br>
            <p>{{ station_data['Division'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>County: </b></label><br>
            <p>{{ station_data['County'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>NWS Region: </b></label><br>
            <p>{{ station_data['NWS Region'] if station_data else 'N/A' }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <label><b>NWS WFO: </b></label><br>
            <p>{{ station_data['NWS WFO'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>NWSLI ID: </b></label><br>
            <p>{{ station_data['NWSLI ID'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>Platform: </b></label><br>
            <p>{{ station_data['Platform'] if station_data else 'N/A' }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <label><b>Elevation: </b></label><br>
            <p>{{ station_data['Elevation'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>Time Offset: </b></label><br>
            <p>{{ station_data['Time Offset'] if station_data else 'N/A' }}</p>
        </div>
        <div class="col-sm">
            <label><b>Lat/Lon: </b></label><br>
            <p>{{ station_data['Lat/Lon'] if station_data else 'N/A' }}</p>
        </div>
    </div>

    <div class="row justify-content-center" id="button-row">
        <div class="col-sm-4">
            <button type="button w-100 d-block" class="btn btn-secondary">GHCND Inventory</button>
        </div>
        <!-- <div class="col">
            <button type="button" class="btn btn-info">Add/Edit Comment</button>
        </div> -->
    </div>
</div>

{% endblock content %}
