<div class="container p-4" style="margin-top: 20px;">
    <!-- Main Data Table -->
    <div class="row " style="text-align: center">
        <div class="col">
            <div class="table-responsive-sm">
                <table class="table table-sm table-striped table-borderless border" id="GHCNHTable">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
</script>