<dl class="row">
    <dt class="col-sm-2">AC</dt>
    <dd class="col-sm-9">Antigua and Barbuda</dd>
    <dt class="col-sm-2">AE</dt>
    <dd class="col-sm-9">United Arab Emirates</dd>
    <dt class="col-sm-2">AF</dt>
    <dd class="col-sm-9">Afghanistan</dd>
    <dt class="col-sm-2">AG</dt>
    <dd class="col-sm-9">Algeria</dd>
    <dt class="col-sm-2">AJ</dt>
    <dd class="col-sm-9">Azerbaijan</dd>
    <dt class="col-sm-2">AL</dt>
    <dd class="col-sm-9">Albania</dd>
    <dt class="col-sm-2">AM</dt>
    <dd class="col-sm-9">Armenia</dd>
    <dt class="col-sm-2">AO</dt>
    <dd class="col-sm-9">Angola</dd>
    <dt class="col-sm-2">AQ</dt>
    <dd class="col-sm-9">American Samoa [United States]</dd>
    <dt class="col-sm-2">AR</dt>
    <dd class="col-sm-9">Argentina</dd>
    <dt class="col-sm-2">AS</dt>
    <dd class="col-sm-9">Australia</dd>
    <dt class="col-sm-2">AU</dt>
    <dd class="col-sm-9">Austria</dd>
    <dt class="col-sm-2">AY</dt>
    <dd class="col-sm-9">Antarctica</dd>
    <dt class="col-sm-2">BA</dt>
    <dd class="col-sm-9">Bahrain</dd>
    <dt class="col-sm-2">BB</dt>
    <dd class="col-sm-9">Barbados</dd>
    <dt class="col-sm-2">BC</dt>
    <dd class="col-sm-9">Botswana</dd>
    <dt class="col-sm-2">BD</dt>
    <dd class="col-sm-9">Bermuda [United Kingdom]</dd>
    <dt class="col-sm-2">BE</dt>
    <dd class="col-sm-9">Belgium</dd>
    <dt class="col-sm-2">BF</dt>
    <dd class="col-sm-9">Bahamas, The</dd>
    <dt class="col-sm-2">BG</dt>
    <dd class="col-sm-9">Bangladesh</dd>
    <dt class="col-sm-2">BH</dt>
    <dd class="col-sm-9">Belize</dd>
    <dt class="col-sm-2">BK</dt>
    <dd class="col-sm-9">Bosnia and Herzegovina</dd>
    <dt class="col-sm-2">BL</dt>
    <dd class="col-sm-9">Bolivia</dd>
    <dt class="col-sm-2">BM</dt>
    <dd class="col-sm-9">Burma</dd>
    <dt class="col-sm-2">BN</dt>
    <dd class="col-sm-9">Benin</dd>
    <dt class="col-sm-2">BO</dt>
    <dd class="col-sm-9">Belarus</dd>
    <dt class="col-sm-2">BP</dt>
    <dd class="col-sm-9">Solomon Islands</dd>
    <dt class="col-sm-2">BR</dt>
    <dd class="col-sm-9">Brazil</dd>
    <dt class="col-sm-2">BU</dt>
    <dd class="col-sm-9">Bulgaria</dd>
    <dt class="col-sm-2">BX</dt>
    <dd class="col-sm-9">Brunei</dd>
    <dt class="col-sm-2">BY</dt>
    <dd class="col-sm-9">Burundi</dd>
    <dt class="col-sm-2">CA</dt>
    <dd class="col-sm-9">Canada</dd>
    <dt class="col-sm-2">CB</dt>
    <dd class="col-sm-9">Cambodia</dd>
    <dt class="col-sm-2">CD</dt>
    <dd class="col-sm-9">Chad</dd>
    <dt class="col-sm-2">CE</dt>
    <dd class="col-sm-9">Sri Lanka</dd>
    <dt class="col-sm-2">CF</dt>
    <dd class="col-sm-9">Congo (Brazzaville)</dd>
    <dt class="col-sm-2">CG</dt>
    <dd class="col-sm-9">Congo (Kinshasa)</dd>
    <dt class="col-sm-2">CH</dt>
    <dd class="col-sm-9">China</dd>
    <dt class="col-sm-2">CI</dt>
    <dd class="col-sm-9">Chile</dd>
    <dt class="col-sm-2">CJ</dt>
    <dd class="col-sm-9">Cayman Islands [United Kingdom]</dd>
    <dt class="col-sm-2">CK</dt>
    <dd class="col-sm-9">Cocos (Keeling) Islands [Australia]</dd>
    <dt class="col-sm-2">CM</dt>
    <dd class="col-sm-9">Cameroon</dd>
    <dt class="col-sm-2">CO</dt>
    <dd class="col-sm-9">Colombia</dd>
    <dt class="col-sm-2">CQ</dt>
    <dd class="col-sm-9">Northern Mariana Islands [United States]</dd>
    <dt class="col-sm-2">CS</dt>
    <dd class="col-sm-9">Costa Rica</dd>
    <dt class="col-sm-2">CT</dt>
    <dd class="col-sm-9">Central African Republic</dd>
    <dt class="col-sm-2">CU</dt>
    <dd class="col-sm-9">Cuba</dd>
    <dt class="col-sm-2">CV</dt>
    <dd class="col-sm-9">Cape Verde</dd>
    <dt class="col-sm-2">CW</dt>
    <dd class="col-sm-9">Cook Islands [New Zealand]</dd>
    <dt class="col-sm-2">CY</dt>
    <dd class="col-sm-9">Cyprus</dd>
    <dt class="col-sm-2">DA</dt>
    <dd class="col-sm-9">Denmark</dd>
    <dt class="col-sm-2">DO</dt>
    <dd class="col-sm-9">Dominica</dd>
    <dt class="col-sm-2">DR</dt>
    <dd class="col-sm-9">Dominican Republic</dd>
    <dt class="col-sm-2">EC</dt>
    <dd class="col-sm-9">Ecuador</dd>
    <dt class="col-sm-2">EG</dt>
    <dd class="col-sm-9">Egypt</dd>
    <dt class="col-sm-2">EI</dt>
    <dd class="col-sm-9">Ireland</dd>
    <dt class="col-sm-2">EK</dt>
    <dd class="col-sm-9">Equatorial Guinea</dd>
    <dt class="col-sm-2">EN</dt>
    <dd class="col-sm-9">Estonia</dd>
    <dt class="col-sm-2">ER</dt>
    <dd class="col-sm-9">Eritrea</dd>
    <dt class="col-sm-2">ES</dt>
    <dd class="col-sm-9">El Salvador</dd>
    <dt class="col-sm-2">ET</dt>
    <dd class="col-sm-9">Ethiopia</dd>
    <dt class="col-sm-2">EU</dt>
    <dd class="col-sm-9">Europa Island [France]</dd>
    <dt class="col-sm-2">EZ</dt>
    <dd class="col-sm-9">Czech Republic</dd>
    <dt class="col-sm-2">FG</dt>
    <dd class="col-sm-9">French Guiana [France]</dd>
    <dt class="col-sm-2">FI</dt>
    <dd class="col-sm-9">Finland</dd>
    <dt class="col-sm-2">FJ</dt>
    <dd class="col-sm-9">Fiji</dd>
    <dt class="col-sm-2">FK</dt>
    <dd class="col-sm-9">Falkland Islands (Islas Malvinas) [United Kingdom]</dd>
    <dt class="col-sm-2">FM</dt>
    <dd class="col-sm-9">Federated States of Micronesia</dd>
    <dt class="col-sm-2">FP</dt>
    <dd class="col-sm-9">French Polynesia</dd>
    <dt class="col-sm-2">FR</dt>
    <dd class="col-sm-9">France</dd>
    <dt class="col-sm-2">FS</dt>
    <dd class="col-sm-9">French Southern and Antarctic Lands [France]</dd>
    <dt class="col-sm-2">GA</dt>
    <dd class="col-sm-9">Gambia, The</dd>
    <dt class="col-sm-2">GB</dt>
    <dd class="col-sm-9">Gabon</dd>
    <dt class="col-sm-2">GG</dt>
    <dd class="col-sm-9">Georgia</dd>
    <dt class="col-sm-2">GH</dt>
    <dd class="col-sm-9">Ghana</dd>
    <dt class="col-sm-2">GI</dt>
    <dd class="col-sm-9">Gibraltar [United Kingdom]</dd>
    <dt class="col-sm-2">GL</dt>
    <dd class="col-sm-9">Greenland [Denmark]</dd>
    <dt class="col-sm-2">GM</dt>
    <dd class="col-sm-9">Germany</dd>
    <dt class="col-sm-2">GP</dt>
    <dd class="col-sm-9">Guadeloupe [France]</dd>
    <dt class="col-sm-2">GQ</dt>
    <dd class="col-sm-9">Guam [United States]</dd>
    <dt class="col-sm-2">GR</dt>
    <dd class="col-sm-9">Greece</dd>
    <dt class="col-sm-2">GT</dt>
    <dd class="col-sm-9">Guatemala</dd>
    <dt class="col-sm-2">GV</dt>
    <dd class="col-sm-9">Guinea</dd>
    <dt class="col-sm-2">GY</dt>
    <dd class="col-sm-9">Guyana</dd>
    <dt class="col-sm-2">HO</dt>
    <dd class="col-sm-9">Honduras</dd>
    <dt class="col-sm-2">HR</dt>
    <dd class="col-sm-9">Croatia</dd>
    <dt class="col-sm-2">HU</dt>
    <dd class="col-sm-9">Hungary</dd>
    <dt class="col-sm-2">IC</dt>
    <dd class="col-sm-9">Iceland</dd>
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-9">Indonesia</dd>
    <dt class="col-sm-2">IN</dt>
    <dd class="col-sm-9">India</dd>
    <dt class="col-sm-2">IO</dt>
    <dd class="col-sm-9">British Indian Ocean Territory [United Kingdom]</dd>
    <dt class="col-sm-2">IR</dt>
    <dd class="col-sm-9">Iran</dd>
    <dt class="col-sm-2">IS</dt>
    <dd class="col-sm-9">Israel</dd>
    <dt class="col-sm-2">IT</dt>
    <dd class="col-sm-9">Italy</dd>
    <dt class="col-sm-2">IV</dt>
    <dd class="col-sm-9">Cote D'Ivoire</dd>
    <dt class="col-sm-2">IZ</dt>
    <dd class="col-sm-9">Iraq</dd>
    <dt class="col-sm-2">JA</dt>
    <dd class="col-sm-9">Japan</dd>
    <dt class="col-sm-2">JM</dt>
    <dd class="col-sm-9">Jamaica</dd>
    <dt class="col-sm-2">JN</dt>
    <dd class="col-sm-9">Jan Mayen [Norway]</dd>
    <dt class="col-sm-2">JO</dt>
    <dd class="col-sm-9">Jordan</dd>
    <dt class="col-sm-2">JQ</dt>
    <dd class="col-sm-9">Johnston Atoll [United States]</dd>
    <dt class="col-sm-2">JU</dt>
    <dd class="col-sm-9">Juan De Nova Island [France]</dd>
    <dt class="col-sm-2">KE</dt>
    <dd class="col-sm-9">Kenya</dd>
    <dt class="col-sm-2">KG</dt>
    <dd class="col-sm-9">Kyrgyzstan</dd>
    <dt class="col-sm-2">KN</dt>
    <dd class="col-sm-9">Korea, North</dd>
    <dt class="col-sm-2">KR</dt>
    <dd class="col-sm-9">Kiribati</dd>
    <dt class="col-sm-2">KS</dt>
    <dd class="col-sm-9">Korea, South</dd>
    <dt class="col-sm-2">KT</dt>
    <dd class="col-sm-9">Christmas Island [Australia]</dd>
    <dt class="col-sm-2">KU</dt>
    <dd class="col-sm-9">Kuwait</dd>
    <dt class="col-sm-2">KZ</dt>
    <dd class="col-sm-9">Kazakhstan</dd>
    <dt class="col-sm-2">LA</dt>
    <dd class="col-sm-9">Laos</dd>
    <dt class="col-sm-2">LE</dt>
    <dd class="col-sm-9">Lebanon</dd>
    <dt class="col-sm-2">LG</dt>
    <dd class="col-sm-9">Latvia</dd>
    <dt class="col-sm-2">LH</dt>
    <dd class="col-sm-9">Lithuania</dd>
    <dt class="col-sm-2">LI</dt>
    <dd class="col-sm-9">Liberia</dd>
    <dt class="col-sm-2">LO</dt>
    <dd class="col-sm-9">Slovakia</dd>
    <dt class="col-sm-2">LQ</dt>
    <dd class="col-sm-9">Palmyra Atoll [United States]</dd>
    <dt class="col-sm-2">LT</dt>
    <dd class="col-sm-9">Lesotho</dd>
    <dt class="col-sm-2">LU</dt>
    <dd class="col-sm-9">Luxembourg</dd>
    <dt class="col-sm-2">LY</dt>
    <dd class="col-sm-9">Libya</dd>
    <dt class="col-sm-2">MA</dt>
    <dd class="col-sm-9">Madagascar</dd>
    <dt class="col-sm-2">MB</dt>
    <dd class="col-sm-9">Martinique [France]</dd>
    <dt class="col-sm-2">MC</dt>
    <dd class="col-sm-9">Macau S.A.R</dd>
    <dt class="col-sm-2">MD</dt>
    <dd class="col-sm-9">Moldova</dd>
    <dt class="col-sm-2">MF</dt>
    <dd class="col-sm-9">Mayotte [France]</dd>
    <dt class="col-sm-2">MG</dt>
    <dd class="col-sm-9">Mongolia</dd>
    <dt class="col-sm-2">MI</dt>
    <dd class="col-sm-9">Malawi</dd>
    <dt class="col-sm-2">MJ</dt>
    <dd class="col-sm-9">Montenegro</dd>
    <dt class="col-sm-2">MK</dt>
    <dd class="col-sm-9">Macedonia</dd>
    <dt class="col-sm-2">ML</dt>
    <dd class="col-sm-9">Mali</dd>
    <dt class="col-sm-2">MO</dt>
    <dd class="col-sm-9">Morocco</dd>
    <dt class="col-sm-2">MP</dt>
    <dd class="col-sm-9">Mauritius</dd>
    <dt class="col-sm-2">MQ</dt>
    <dd class="col-sm-9">Midway Islands [United States}</dd>
    <dt class="col-sm-2">MR</dt>
    <dd class="col-sm-9">Mauritania</dd>
    <dt class="col-sm-2">MT</dt>
    <dd class="col-sm-9">Malta</dd>
    <dt class="col-sm-2">MU</dt>
    <dd class="col-sm-9">Oman</dd>
    <dt class="col-sm-2">MV</dt>
    <dd class="col-sm-9">Maldives</dd>
    <dt class="col-sm-2">MX</dt>
    <dd class="col-sm-9">Mexico</dd>
    <dt class="col-sm-2">MY</dt>
    <dd class="col-sm-9">Malaysia</dd>
    <dt class="col-sm-2">MZ</dt>
    <dd class="col-sm-9">Mozambique</dd>
    <dt class="col-sm-2">NC</dt>
    <dd class="col-sm-9">New Caledonia [France]</dd>
    <dt class="col-sm-2">NE</dt>
    <dd class="col-sm-9">Niue [New Zealand]</dd>
    <dt class="col-sm-2">NF</dt>
    <dd class="col-sm-9">Norfolk Island [Australia]</dd>
    <dt class="col-sm-2">NG</dt>
    <dd class="col-sm-9">Niger</dd>
    <dt class="col-sm-2">NH</dt>
    <dd class="col-sm-9">Vanuatu</dd>
    <dt class="col-sm-2">NI</dt>
    <dd class="col-sm-9">Nigeria</dd>
    <dt class="col-sm-2">NL</dt>
    <dd class="col-sm-9">Netherlands</dd>
    <dt class="col-sm-2">NN</dt>
    <dd class="col-sm-9">Sint Maarten</dd>
    <dt class="col-sm-2">NO</dt>
    <dd class="col-sm-9">Norway</dd>
    <dt class="col-sm-2">NP</dt>
    <dd class="col-sm-9">Nepal</dd>
    <dt class="col-sm-2">NS</dt>
    <dd class="col-sm-9">Suriname</dd>
    <dt class="col-sm-2">NU</dt>
    <dd class="col-sm-9">Nicaragua</dd>
    <dt class="col-sm-2">NZ</dt>
    <dd class="col-sm-9">New Zealand</dd>
    <dt class="col-sm-2">PA</dt>
    <dd class="col-sm-9">Paraguay</dd>
    <dt class="col-sm-2">PC</dt>
    <dd class="col-sm-9">Pitcairn Islands [United Kingdom]</dd>
    <dt class="col-sm-2">PE</dt>
    <dd class="col-sm-9">Peru</dd>
    <dt class="col-sm-2">PK</dt>
    <dd class="col-sm-9">Pakistan</dd>
    <dt class="col-sm-2">PL</dt>
    <dd class="col-sm-9">Poland</dd>
    <dt class="col-sm-2">PM</dt>
    <dd class="col-sm-9">Panama</dd>
    <dt class="col-sm-2">PO</dt>
    <dd class="col-sm-9">Portugal</dd>
    <dt class="col-sm-2">PP</dt>
    <dd class="col-sm-9">Papua New Guinea</dd>
    <dt class="col-sm-2">PS</dt>
    <dd class="col-sm-9">Palau</dd>
    <dt class="col-sm-2">PU</dt>
    <dd class="col-sm-9">Guinea-Bissau</dd>
    <dt class="col-sm-2">QA</dt>
    <dd class="col-sm-9">Qatar</dd>
    <dt class="col-sm-2">RE</dt>
    <dd class="col-sm-9">Reunion [France]</dd>
    <dt class="col-sm-2">RI</dt>
    <dd class="col-sm-9">Serbia</dd>
    <dt class="col-sm-2">RM</dt>
    <dd class="col-sm-9">Marshall Islands</dd>
    <dt class="col-sm-2">RO</dt>
    <dd class="col-sm-9">Romania</dd>
    <dt class="col-sm-2">RP</dt>
    <dd class="col-sm-9">Philippines</dd>
    <dt class="col-sm-2">RQ</dt>
    <dd class="col-sm-9">Puerto Rico [United States]</dd>
    <dt class="col-sm-2">RS</dt>
    <dd class="col-sm-9">Russia</dd>
    <dt class="col-sm-2">RW</dt>
    <dd class="col-sm-9">Rwanda</dd>
    <dt class="col-sm-2">SA</dt>
    <dd class="col-sm-9">Saudi Arabia</dd>
    <dt class="col-sm-2">SB</dt>
    <dd class="col-sm-9">Saint Pierre and Miquelon [France]</dd>
    <dt class="col-sm-2">SE</dt>
    <dd class="col-sm-9">Seychelles</dd>
    <dt class="col-sm-2">SF</dt>
    <dd class="col-sm-9">South Africa</dd>
    <dt class="col-sm-2">SG</dt>
    <dd class="col-sm-9">Senegal</dd>
    <dt class="col-sm-2">SH</dt>
    <dd class="col-sm-9">Saint Helena [United Kingdom]</dd>
    <dt class="col-sm-2">SI</dt>
    <dd class="col-sm-9">Slovenia</dd>
    <dt class="col-sm-2">SL</dt>
    <dd class="col-sm-9">Sierra Leone</dd>
    <dt class="col-sm-2">SN</dt>
    <dd class="col-sm-9">Singapore</dd>
    <dt class="col-sm-2">SP</dt>
    <dd class="col-sm-9">Spain</dd>
    <dt class="col-sm-2">ST</dt>
    <dd class="col-sm-9">Saint Lucia</dd>
    <dt class="col-sm-2">SU</dt>
    <dd class="col-sm-9">Sudan</dd>
    <dt class="col-sm-2">SV</dt>
    <dd class="col-sm-9">Svalbard [Norway]</dd>
    <dt class="col-sm-2">SW</dt>
    <dd class="col-sm-9">Sweden</dd>
    <dt class="col-sm-2">SX</dt>
    <dd class="col-sm-9">South Georgia and the South Sandwich Islands [United Kingdom]</dd>
    <dt class="col-sm-2">SY</dt>
    <dd class="col-sm-9">Syria</dd>
    <dt class="col-sm-2">SZ</dt>
    <dd class="col-sm-9">Switzerland</dd>
    <dt class="col-sm-2">TD</dt>
    <dd class="col-sm-9">Trinidad and Tobago</dd>
    <dt class="col-sm-2">TE</dt>
    <dd class="col-sm-9">Tromelin Island [France]</dd>
    <dt class="col-sm-2">TH</dt>
    <dd class="col-sm-9">Thailand</dd>
    <dt class="col-sm-2">TI</dt>
    <dd class="col-sm-9">Tajikistan</dd>
    <dt class="col-sm-2">TL</dt>
    <dd class="col-sm-9">Tokelau [New Zealand]</dd>
    <dt class="col-sm-2">TN</dt>
    <dd class="col-sm-9">Tonga</dd>
    <dt class="col-sm-2">TO</dt>
    <dd class="col-sm-9">Togo</dd>
    <dt class="col-sm-2">TS</dt>
    <dd class="col-sm-9">Tunisia</dd>
    <dt class="col-sm-2">TU</dt>
    <dd class="col-sm-9">Turkey</dd>
    <dt class="col-sm-2">TV</dt>
    <dd class="col-sm-9">Tuvalu</dd>
    <dt class="col-sm-2">TX</dt>
    <dd class="col-sm-9">Turkmenistan</dd>
    <dt class="col-sm-2">TZ</dt>
    <dd class="col-sm-9">Tanzania</dd>
    <dt class="col-sm-2">UC</dt>
    <dd class="col-sm-9">Curacao</dd>
    <dt class="col-sm-2">UG</dt>
    <dd class="col-sm-9">Uganda</dd>
    <dt class="col-sm-2">UK</dt>
    <dd class="col-sm-9">United Kingdom</dd>
    <dt class="col-sm-2">UP</dt>
    <dd class="col-sm-9">Ukraine</dd>
    <dt class="col-sm-2">US</dt>
    <dd class="col-sm-9">United States</dd>
    <dt class="col-sm-2">UV</dt>
    <dd class="col-sm-9">Burkina Faso</dd>
    <dt class="col-sm-2">UY</dt>
    <dd class="col-sm-9">Uruguay</dd>
    <dt class="col-sm-2">UZ</dt>
    <dd class="col-sm-9">Uzbekistan</dd>
    <dt class="col-sm-2">VE</dt>
    <dd class="col-sm-9">Venezuela</dd>
    <dt class="col-sm-2">VM</dt>
    <dd class="col-sm-9">Vietnam</dd>
    <dt class="col-sm-2">VQ</dt>
    <dd class="col-sm-9">Virgin Islands [United States]</dd>
    <dt class="col-sm-2">WA</dt>
    <dd class="col-sm-9">Namibia</dd>
    <dt class="col-sm-2">WF</dt>
    <dd class="col-sm-9">Wallis and Futuna [France]</dd>
    <dt class="col-sm-2">WI</dt>
    <dd class="col-sm-9">Western Sahara</dd>
    <dt class="col-sm-2">WQ</dt>
    <dd class="col-sm-9">Wake Island [United States]</dd>
    <dt class="col-sm-2">WZ</dt>
    <dd class="col-sm-9">Swaziland</dd>
    <dt class="col-sm-2">ZA</dt>
    <<dd class="col-sm-9">dd class="col-sm-9">Zambia</dd></dd>
    <dt class="col-sm-2">ZI</dt>
    <dd class="col-sm-9">Zimbabwe</dd>
</dl>
