

/* Navigation Bar */
#nav-bar{
    background-color: rgb(1, 1, 90);
    
}
#dropdownMenuButton{
    color: white;
    position: relative;
    top: 22px
}
#dropdown-menu{

}
#nav-items{
    color: rgb(255, 255, 255);
    padding-right: 10px ;
    display:inline-block;
    border-color: aliceblue;
    position: relative;
    top: 20px
}
#nav-items a:hover{
font-family: 'Source Sans Pro',sans-serif;
text-decoration: none;
-webkit-transition: all .4s ease;
transition: all .4s ease;
line-height: 4ex;
}
#dropdownMenuButton{
    color: white;
}


/* Forms */
.form-container {
    padding: 30px;
    margin-top: 40px;
    border-color: rgb(182, 181, 181);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    text-align: center;
}
#form-daily{
    min-width: 85%;
}
#form-monthly{
    width: 50%;

}
#form-range{
    width: 50%;

}
#date-picker{
    width: max-content;
}

#date-div {
    position: relative;
    display: flex;
    flex-wrap: nowrap; 
    align-items: stretch;
    width: 12%;
}
#button-row{
    margin-top: 25px;
}
.input-group {
    justify-content: center;
}
#id-option-ghcn {
    margin-right: 3px;
    border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px;
}
.element-select{
    max-width: 165px;
}
.action-select{
    max-width: 90px;
}
.type-select {
    max-width: 160px;
}
.country-select {
    max-width: 380px;
}
.state-select {
    max-width: 340px;
}
.date-picker {
    max-width: 165px;
}
/* ------------------------ Data Displayer Pages -----------------*/

/* Monthly Correction Table */
#monthly-form-table {
padding-top: 45px;
}
#input-monthly-table {
}
/* View Ghcn Metadata */
#ghcn-metadata-div {
    max-width: 80%;
    padding: 30px;
    border-color: rgb(182, 181, 181);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    justify-content: center;
    text-align: center;
}
.form-container-monthly {
    padding: 30px;
    border-color: rgb(182, 181, 181);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-right-style: solid;
    border-left-style: solid;

}
.type-select{
    max-width: 190px;
}

body {
    background-color: rgb(255, 255, 255);
}



/* GHCN Data View Table cells. 
Gives a border between the columns of the table. */
.ghcn-table-cell {
    border-right: solid 2px grey;
}