<div class="container mt-std">
    <div class="row std-rounded-box justify-content-center">
        <div class="row">
            <div class="col py-5 text-center text-bold-20">
              Your <span class="correction-type-text-target">daily</span> correction has been successfully submitted.
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
                <div class="d-grid gap-3 mb-4">
                    <button class="btn btn-primary fw-medium" type="button" id="submit-another-correction" >Enter another <span class="correction-type-text-target">daily</span> correction</span></button>
                  </div>
            </div>
          </div>
      </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <!-- <div class="col-md border rounded m-2 correction-link-card" id="submitted-daily-link" onclick="window.location.href = '{{ url_for('corrections.daily_corrections') }}'"> -->
    <div class="col-md m-2 correction-link-card" id="submitted-daily-link" onclick="window.location.href = '{{ url_for('corrections.daily_corrections') }}'">
      <div class="row mb-3 pt-3">
        <div class="col text-center text-semi-bold-20">
          Enter a daily correction
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1 text-50" >
          <span>&#10095;</span>
        </div>
      </div>
    </div>
    <div class="col-md correction-link-card m-2" id="submitted-monthly-link" onclick="window.location.href = '{{ url_for('corrections.monthly_corrections') }}'">
      <div class="row mb-3 pt-3">
        <div class="col text-center text-semi-bold-20">
          Enter a monthly correction
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1 text-50" >
          <span>&#10095;</span>
        </div>
      </div>
    </div>
    <div class="col-md correction-link-card m-2" id="submitted-hourly-link" onclick="window.location.href = '{{ url_for('corrections.hourly_corrections') }}'">
      <div class="row mb-3 pt-3">
        <div class="col text-center text-semi-bold-20">
          Enter an hourly correction
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1 text-50">
          <span>&#10095;</span>
        </div>
      </div>
    </div>
    <div class="col-md correction-link-card m-2" id="submitted-ranged-link" onclick="window.location.href = '{{ url_for('corrections.range_corrections') }}'">
      <div class="row mb-3 pt-3">
        <div class="col text-center text-semi-bold-20" >
          Enter a ranged correction
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1 text-50" >
          <span>&#10095;</span>
        </div>
      </div>
    </div>
    <div class="col-md correction-link-card m-2" id="submitted-multiday-link" onclick="window.location.href = '{{ url_for('corrections.multiday_corrections') }}'">
      <div class="row mb-3 pt-3">
        <div class="col text-center text-semi-bold-20" >
          Enter a multi-day correction
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1 text-50" >
          <span>&#10095;</span>
        </div>
      </div>
    </div>
  </div>
</div>
