


<!-- Nested Grid using Flex-dirction:column -->
<div class="container-md" id="input-monthly-table" style="display:none">
    <div class="row">
        <div class="col">
            <div class="row" style="display:flex; flex-direction:column">
                <div class="col">
                    Select Element:
                    <select class="form-select" >
                        <option selected>--Select--</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col">
                    <b>Station ID: [#]</b>
                </div>
                <div class="col">
                    Date (yyyymm): 
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="yyyymm">
                      </div>
                </div>
                <div class="col">
                    Class: [#]
                    <select class="form-select" >
                        <option selected>--Select--</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

            </div>
        </div>
        
        
        <div class="col">
            <div class="row" style="display:flex; flex-direction:column">
                <!-- Month Input Table -->
                <div class="col">
                    <div class="table-responsive-sm" style="text-align: center">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Value</th>
        
                                </tr>
                            </thead>
                            <tbody>
                    
                                {% for p in range(31) %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="">
                                              </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                <!-- Datzilla Number Input -->
                                <!-- Should this be outside of the table as its own element? -->
                                <tr>
                                    <td>
                                        <b>Datzilla #:</b>
                                    </td>
                                    <td>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="">
                                          </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>          
        </div>
    </div>


    <div class="row justify-content-center" id="button-row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary">Total</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-dark">Close</button>
        </div>
    </div>

</div>