<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %} GHCN {% endblock title %}</title>
        <!--
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
  
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script> -->
        <link href="https://cdn.datatables.net/v/dt/dt-2.2.2/r-3.0.3/datatables.min.css" rel="stylesheet">
 
        <script src="https://cdn.datatables.net/v/dt/dt-2.2.2/r-3.0.3/datatables.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    </head>        
    <body>
        <!--
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

        {% if show_navbar != false %}
        <nav class="navbar navbar-expand-lg my-5" id="nav-bar">
            <div class="container-fluid">
                <img src="{{ url_for('static', filename='images/noaa_banner.png') }}" alt="NOAA Banner" width="20%" height="20%" onclick="window.location.href = '{{ url_for ("corrections.index")}}' ">  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!--<div class="collapse navbar-collapse position-absolute top-50 start-50 translate-middle" id="navbarTogglerDemo02" > -->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="nav-items" href="/">Corrections </a>
                    </li>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" id="nav-items" href="{{ url_for('ghcndata.view_ghcn_data') }}">View Data </a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                View Data
                            </button>
                            <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ url_for('ghcndata.view_ghcn_data') }}">View GHCN Daily</a>
                                <a class="dropdown-item" href="{{ url_for('ghcndata.view_ghcn_hourly_data') }}">View GHCN Hourly</a>
                      
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Utilities
                            </button>
                            <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Defaults</a>
                                <a class="dropdown-item" href="#">Send Corrections</a>
                                <a class="dropdown-item" onclick="tempGenerateMonthlyPub()" href="#">Create Monthly Publication</a>
                                <a class="dropdown-item" href="#">Zip/FTP Monthly Publication</a>
                                <a class="dropdown-item" href="#">Create Annual Publication</a>
                                <a class="dropdown-item" href="#">Zip/FTP Annual Publication</a>
                                <a class="dropdown-item" href="#">Generate Monthly QA Report</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                            </button>
                            <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ url_for('resources.readme') }}">Read Me</a>
                                <a class="dropdown-item" href="{{ url_for('resources.country_codes') }}">Country Codes</a>
                                <a class="dropdown-item" href="{{ url_for('resources.class_definitions') }}">Class Definitions</a>
                                <a class="dropdown-item" href="{{ url_for('resources.accessibility') }}">Accessibility</a>
                            </div>
                        </div>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
          {% endif %}
       {% block content %}{% endblock content %}

    
        <script>
            window.onload = function() {
                // Set CSS according to cookies. 
                
                // Set the dark theme
                if (readCookie("theme") == "dark") {
                //window.alert(s);
                    $("body").addClass("dark-mode");
                    $("table").addClass("table-dark");
                    //$(".container").toggleClass("dark-mode");
                } 

                //Set Font Size
                
                $("html").css("font-size", 100 + parseInt(readCookie("font-resize")) + "%");
                    
                // Tooltip Cookie Check
                // if (readCookie("tooltips") != null) {
                //     enableTooltips(Boolean(readCookie("tooltips")));
                if (readCookie("tooltips") == "true") {
                    enableTooltips(true);
                }
                else if (readCookie("tooltips") == "false") {
                    enableTooltips(false);
                } else {
                    enableTooltips(false);
                }
                
            };
            
            // Tool Tip Functionality
            const tooltips = document.querySelectorAll('.tt')
            tooltips.forEach(t => {
              new bootstrap.Tooltip(t)
            })
            
            
            function enableTooltips(bool) {
                if (bool) {
                    $(".tt").tooltip('enable');

                } else {
                    $(".tt").tooltip('disable');
                }
                
            }


            // Create/Read/Erase Cookies
            function createCookie(name,value,days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime()+(days*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
                }
                else var expires = "";
                document.cookie = name+"="+value+expires+"; path=/";
            }
            
            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }
            
            function eraseCookie(name) {
                createCookie(name,"",-1);
            }


                function correctionFormHandler(formData, handleData) {
                        // Aend the form data via AJAX
                        $.ajax({
                            url: '/process_correction',
                            method: 'POST',
                            data: formData,
                            success: function (response) {
                                // function that handles async response at caller
                                handleData(response)
                            },
                            error: function (xhr, status, error) {
                                console.error("Error:", error);
                                alert("There was an error processing your request.");
                                // Debugging
                                handleData()
                            }
                        });

                    }


                    function tempGenerateMonthlyPub() {
                        console.log("Generating monthly pub...");
                    
                        $.ajax({
                            url: '/test_monthlyPub',  // This matches your Flask route
                            method: 'GET',
                            success: function(response) {
                                console.log("Response:", response);
                                alert("Monthly pub generated successfully!");
                            },
                            error: function(xhr, status, error) {
                                console.error("Error:", error);
                                alert("Error generating monthly pub.");
                            }
                        });
                    }
            
            /**
             * Displays a confirmation page after corrections have been successfully submitted.
             *
             * This function presents a "Corrections have been submitted successfully" page to the user.
             * It provides options for the user to submit another correction of the same type or to
             * select a different type of correction.
             *
             * @param {string} type - The type of correction that was submitted (e.g., 'daily', 'monthly', 'ranged', 'hourly').
             */
            function showSubmissionConfirmation(type) {

                $("#form-daily").hide(); 
                $("#form-hourly").hide(); 
                $("#form-monthly").hide(); 
                $("#form-range").hide(); 
                
                $(".correction-type-text-target").text(type);
                
                var element_name = "submitted-" + type + "-link";
                //Hide that element

                var link = "";
                if (type == "daily") {
                    link = '{{ url_for('corrections.daily_corrections') }}';
                    $("#submitted-daily-link").hide();
                    
                    
                } else if (type == "monthly") {
                    link = '{{ url_for('corrections.monthly_corrections') }}';
                    $("#submitted-monthly-link").hide();
                } else if (type == "ranged") {
                    link = '{{ url_for('corrections.range_corrections') }}';
                    $("#submitted-ranged-link").hide();
                } else if (type == "hourly") {
                    link = '{{ url_for('corrections.hourly_corrections') }}';
                    $("#submitted-hourly-link").hide();
                }

                console.log(link);

                $("#submit-another-correction").click(function() {
                    window.location.href = link;
                });



                $("#submission-element").show(); 


            }

            /**
             * Formats form data with weather sub-elements into a URL query string.
             *
             * This function processes form data containing "WEATHER ELEMENT" and "WEATHER SUBELEMENT"
             * fields. It replaces the main `element` value with the selected sub-element value
             * (e.g., 'WT**' becomes 'WT01') and removes the extraneous sub-element fields
             * from the data before serializing it. Meant to be used on Corrections Pages.
             *
             * @param {jQuery} formData - A jQuery object representing the form element, typically obtained
             * from a form submission event handler (e.g., `$(this)`).
             * @returns {string} A string of URL-encoded parameters ready for submission,
             * such as `ghcn_id=USW00093991&date=2025-08-06&element=WT01&action=1`.
             */
            function formatWeatherDataQuery(formData) {
                const form = formData.get(0);
                var formData = formData.serialize().split("&");
                // console.log("FORMDATA: ", formData);
                sub_element_str = "element=";

                // Replace ELEMENT subselection if relevant.
                switch (form.elements.element.value.toString()) {
                    case "SN*#": {
                        // Get the value from the sub-element
                        const newValue = form.elements.sub_element_SN.value.toString();
                        // console.log("new value:", newValue)
                        formData[3] = sub_element_str + newValue;
                        break;
                    }
                    case "SX*#": {
                        const newValue = form.elements.sub_element_SX.value.toString();
                        // console.log("new value:", newValue)
                        formData[3] = sub_element_str + newValue;
                        break;
                    }
                    case "WT**": {
                        const newValue = form.elements.sub_element_WT.value.toString();
                        // console.log("new value:", newValue)
                        formData[3] = sub_element_str + newValue;
                        break;
                    }
                    case "WV**": {
                        const newValue = form.elements.sub_element_WV.value.toString();
                        // console.log("new value:", newValue)
                        formData[3] = sub_element_str + newValue;
                        break;
                    }
                    default:  
                }

                // Remove Sub Elements from form parameters
                console.log(formData);
                let index = formData.findIndex((element => element.indexOf("sub_element_SN=") != -1));
                console.log(index);

                // let index = formData.indexOf("world");
                if (index !== -1) {
                    formData.splice(index,4);
                    console.log(formData);
                    return formData.join("&")
                }
                // formData.splice(4,4);
                
            }
            
        </script>
    </body>
</html>