{% extends "base.html" %}

{% block content %}



<div class="container" style="margin-top: 160px;">
    <div class="row border rounded justify-content-center">
        <div class="row">
            <div class="col py-5 text-center" style="font-size: 20px; font-weight: bold;">
              Your <span>daily</span> correction has been successfully submitted.
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
                <div class="d-grid gap-3 mb-4">
                    <button class="btn btn-primary" type="button">Enter another <span>daily</span> correction</span></button>
                  </div>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md border my-3">
      <div class="row mb-3 pt-3">
        <div class="col text-center" style="font-size: 20px; font-weight: bold;">
          Enter a monthly correction.
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1" style="font-size: 50px;">
          <span>&#10095;</span>
        </div>
      </div>
    </div>
    <div class="col-md border m-3">
      <div class="row mb-3 pt-3">
        <div class="col text-center" style="font-size: 20px; font-weight: bold;">
          Enter a hourly correction.
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1" style="font-size: 50px;">
          <span>&#10095;</span>
        </div>
      </div>
    </div>
    <div class="col-md border my-3">
      <div class="row mb-3 pt-3">
        <div class="col text-center" style="font-size: 20px; font-weight: bold;">
          Enter a ranged correction.
        </div>
      </div>
      <div class="row me-4 justify-content-end">
        <div class="col-1" style="font-size: 50px;">
          <span>&#10095;</span>
        </div>
      </div>
    </div>
  </div>
</div>







<!--  -->

<h1 class="title">
    Welcome, {{ name }}!
  </h1>

<h1>
    This is a 
    <span class="tt" data-bs-placement="auto" title="Accoridng to all known laws of aviation">
        testing
    </span> 
    page!
</h1>

<div class="row g-3 justify-content-center ">
    <div class="col-10">
        <p class="text-center">
            <a href="{{ url_for('auth.signup') }}">Register</a> |
            <a href="{{ url_for('auth.login') }}">Login</a> |
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </p>
    </div>
</div>

{% endblock content %}